@import "vars";
@import "media";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0;
    z-index: 10000;
    @include for-phone-only {
        padding: 0;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    // .header__nav

    &__nav {
        display: none;
        @include for-tablet-landscape-up {
            display: flex;
        }
    }

    // .header__list

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        text-transform: capitalize;
        font-size: 30px;
        @include for-tablet-landscape-up {
            font-size: inherit;
        }
        li {
            font-weight: 700;
            &:not(:last-child) {
                color: $black;
                &:hover {
                    color: $red;
                }
            }
            @include for-tablet-landscape-up {
                margin-right: 30px;
            }
        }
    }

    // .header__link
}

//burger-nav
body.lock {
    overflow: hidden;
}
.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 1001;
    @include for-tablet-landscape-up {
        display: none;
    }
}
.header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}
.header__burger:before {
    top: 0;
}
.header__burger:after {
    bottom: 0;
}
.header__burger.show span {
    transform: scale(0);
}
.header__burger.show:before {
    transform: rotate(45deg);
    top: 9px;
}
.header__burger.show:after {
    transform: rotate(-45deg);
    bottom: 9px;
}
.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    position: fixed;
    top: 0%;
    right: -110%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 5%;
    transition: all 0.3s ease 0s;
    overflow: auto;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        text-align: center;
        li {
            margin: 30px 0;
        }
    }
}
.header__menu.show {
    right: 0%;
}
